<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Data Analysis</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<center>

<h2>🎬 Welcome to My Netflix Data Analysis Project</h2>

<p>
Explore an interactive analysis of the Netflix dataset through insightful dashboards,
visualizations, and key performance metrics. This project demonstrates how raw data
can be transformed into meaningful business insights using data analytics techniques.
</p>
<h3>Project Highlights</h3>

<ul>
    <li>📊 Interactive Data Dashboard</li>
    <li>🎥 Movies & TV Shows Analysis</li>
    <li>🌍 Country-wise Content Distribution</li>
    <li>🎭 Genre & Rating Insights</li>
    <li>📅 Release Year Trends</li>
    <li>📈 Data-Driven Visualizations</li>
</ul>
<div class="front_page">
<a href="/clean_code">
    <button>CLICK TO SEE THE PYTHON CLEANING CODE</button>
</a>

<br><br>

<a href="/csv_file">
    <button>CLICK TO SEE CSV FILE</button>
</a>

<br><br>

<a href='/powerbi_dashboard'>
    <button>CLICK TO SEE THE DASHBOARD</button>
</a>
</div>
</center>
<footer>
    <h2>Developed By: Priyanka Sharma</h2>
</footer>
</body>
</html>